html,
body {
    height: 100%;
}

body {
    margin: 0;
}

#game-container {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

#game-board {
    display: grid;
    gap: 1px;
    border: 1px dashed darkgrey;
    /* flex: 1; */
    height: min-content;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    box-sizing: border-box;
    background-color: whitesmoke;
    aspect-ratio: 1;
}

.player-tile {
    background-image: url("../asset/cat2.png");
    background-size: cover;
}

.dragon-tile {
    background-image: url("../asset/dragon.png");
    background-size: cover;
}

.success {
    background-color: lightgreen;
    aspect-ratio: unset;
}

.success>a {
    color: #fffafa;
}